# Note that not all variables here might be in use for your selected configuration
# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly

# Bundle analyzer

ANALYZE_BUNDLE=false

# Environment variables validation

SKIP_ENVIRONMENT_VALIDATION=false